{namespace fed=Tx_Fed_ViewHelpers}
{namespace dialog=Tx_Dialog_ViewHelpers}
<f:layout name="Comment" />

<f:if condition="{settings.includeDefaultStyles} > 0">
	<f:if condition="{settings.customStyleSheet}">
		<fed:pageRenderer.addCssFile file="{settings.customStyleSheet}" compress="FALSE" />
	</f:if>
</f:if>
<fed:pageRenderer.addCssFile file="{f:uri.resource(path: 'Stylesheets/Common.css')}" compress="FALSE" />
<fed:pageRenderer.addCssFile file="{f:uri.resource(path: 'Stylesheets/Comment.css')}" compress="FALSE" />

<f:if condition="{placeholder}">
	<f:then>
		<div class="tx-dialog tx-dialog-comment placeholder"
			data-url-form="{f:widget.uri(action: 'form', ajax: 1, arguments: {ajax: 1})}"
			data-url-post="{f:widget.uri(action: 'write', ajax: 1, arguments: {ajax: 1})}"
			data-url-close="{f:widget.uri(action: 'index', ajax: 1)}">
			<f:format.raw>{placeholder}</f:format.raw>
		</div>
	</f:then>
	<f:else>
		<div class="tx-dialog tx-dialog-comment full">
			<f:render partial="Comment/Components" section="{view}" arguments="{_all}" optional="TRUE" />
			<f:render partial="Discussion/Components" section="Form" arguments="{_all}" />
		</div>
	</f:else>
</f:if>
