{namespace fed=Tx_Fed_ViewHelpers}
{namespace dialog=Tx_Dialog_ViewHelpers}
<f:layout name="Discussion" />

<f:if condition="{settings.loadJQuery}">
	<fed:jQuery jQueryVersion="1" />
</f:if>
<fed:pageRenderer.addJsFooterFile file="{f:uri.resource(path: 'Javascripts/Bootstrap.min.js')}" compress="FALSE" />
<fed:pageRenderer.addJsFooterFile file="{f:uri.resource(path: 'Javascripts/Plugins/bootstrap-tooltip.js')}" compress="FALSE" />
<fed:pageRenderer.addJsFooterFile file="{f:uri.resource(path: 'Javascripts/Plugins/bootstrap-popover.js')}" compress="FALSE" />
<f:if condition="{settings.includeDefaultStyles} > 0">
	<f:then>
		<fed:pageRenderer.addCssFile file="{f:uri.resource(path: 'Stylesheets/Bootstrap.css')}" compress="FALSE" />
	</f:then>
	<f:else>
		<f:if condition="{settings.customStyleSheet}">
			<fed:pageRenderer.addCssFile file="{settings.customStyleSheet}" compress="FALSE" />
		</f:if>
	</f:else>
</f:if>
<fed:pageRenderer.addCssFile file="{f:uri.resource(path: 'Stylesheets/Common.css')}" compress="FALSE" />

<div class="tx-dialog tx-dialog-discussion">
	<f:if condition="{settings.enableToolbar}">
		<f:render partial="Discussion/Components" section="Toolbar" arguments="{_all}" />
	</f:if>
	<f:render partial="Discussion/Components" section="{view}" arguments="{_all}" />
</div>