.tx-dialog {

}

.tx-dialog a:hover {
    text-decoration: none !important;
}

.tx-dialog span.email {
    width: 20px;
}

.tx-dialog input.email {
    width: 240px;
}

.tx-dialog span.web {
    width: 50px;
}

.tx-dialog input.web {
    width: 210px;
}

.tx-dialog textarea {
    width: 99%;
    height: 110px;
}

.tx-dialog .mini-layout {
    padding: 0px;
}

.tx-dialog .mini-layout label.control-label {
	width: 40px;
	text-align: left;
}

.tx-dialog .mini-layout .controls {
	margin-left: 60px;
}

.tx-dialog .mini-layout .poster-name {
	width: 210px;
}

.tx-dialog .mini-layout .poster-email {
	width: 180px;
}

.tx-dialog .mini-layout .poster-web {
	width: 150px;
}

.tx-dialog .mini-layout .words-form .control-label {
	width: 100px;
}

.post-options input {
	height: 14px !important;
}

.white {
    color: #FFFFFF !important;
}

.black {
    color: #000000 !important;
}

.post-options {
    padding: 6px;
}

.post {
    margin-bottom: 1em;
    padding-top: 1em;
}

.post-first {
    border-top: 1px solid #EFEFEF;
    padding-top: 1em;
}

.f3-form-error {
    border-color: #B94A48;
    background-color: transparent !important;
}

td.time {
    width: 80px;
}

.breadcrumb-container .icon-faded {
    opacity: 0.5;
}

.hero-unit-button .btn {
    margin-top: 0px;
}

.hero-unit-button .btn.primary {
	font-size: 16px;
    margin-bottom: 5px;
	width: 100%;
}

.poster h4, .poster p {
    margin-bottom: 0.3em;
}

td.options {
    width: 115px;
    white-space: nowrap;
}

td.latest-items-options {
    white-space: nowrap;
}

.form-actions.right {
    text-align: right;
}