.tx-dialog {

}

.tx-dialog a:hover {
    text-decoration: none !important;
}

.tx-dialog span.email {
    width: 20px;
}

.tx-dialog input.email {
    width: 240px;
}

.tx-dialog span.web {
    width: 50px;
}

.tx-dialog input.web {
    width: 210px;
}

.tx-dialog textarea {
    width: 99%;
    max-width: 99%;
    min-width: 99%;
    height: 110px;
}

.tx-dialog .mini-layout {
    padding: 0px;
}

.tx-dialog .mini-layout label.control-label {
	width: 40px;
	text-align: left;
}

.tx-dialog .mini-layout .controls {
	margin-left: 60px;
}

.tx-dialog .mini-layout .poster-name {
	width: 180px;
}

.tx-dialog .mini-layout .poster-email {
	width: 180px;
}

.tx-dialog .mini-layout .poster-web {
	width: 148px;
}

.tx-dialog .mini-layout .form-actions {
	padding-left: 60px;
}

.tx-dialog .mini-layout .words-form .control-label {
	width: 100px;
}

.post-options input {
	height: 14px !important;
}

.white {
    color: #FFFFFF !important;
}

.black {
    color: #000000 !important;
}

.post-options {
    padding: 6px;
}

.post {
    margin-bottom: 1em;
    padding-top: 1em;
}

.post-first p,
.post .content p {
	line-height: 1.5em;
}
.post-first {
    border-top: 1px solid #EFEFEF;
    padding-top: 1em;
}

.f3-form-error {
    border-color: #B94A48;
    background-color: transparent !important;
}

td.time {
    width: 80px;
}

.breadcrumb-container .icon-faded {
    opacity: 0.5;
}

.poster h4, .poster p {
    margin-bottom: 0.3em;
}

td.options {
    width: 115px;
    white-space: nowrap;
}

td.latest-items-options {
    white-space: nowrap;
}

.form-actions.right {
    text-align: right;
}

.thread-last-update {
	white-space: nowrap;
	text-align: right;
	display: inline-block;
	margin-top: 2px;
}

.latest-posts dd:hover {
	background-color: #FAFAFA;
}

.tx-dialog-discussion .last-post {
	border-top: 1px solid rgba(0,0,0,0.05);
	display: block;
}

.tx-dialog-discussion .last-post .subject {
	clear: right;
}

.tx-dialog-discussion .fileupload {
	float: left;
	margin-right: 0.5em;
}

.tx-dialog-discussion .hero-unit .btn {
	margin-bottom: 0.5em;
}

.tx-dialog-discussion .controls-row label {
	margin-top: 1em;
}

.tx-dialog-discussion .pagination-small li a {
	font-size: 80%;
	padding: 0.5em;
	line-height: 1.5em;
	width: 2em;
	text-align: center;
}

.tx-dialog-discussion .images,
.tx-dialog-discussion .attachments {
	margin-bottom: 1em;
}

.tx-dialog-discussion .attachments a {
	opacity: 0.75;
	font-weight: normal;
	font-size: 100%;
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.tx-dialog-discussion .attachments a:hover {
	opacity: 1;
}

.tx-dialog-discussion .controls-row .allowed-types {
	font-style: italic;
	color: #999;
	clear: both;
}

.tx-dialog-discussion .controls-row.files .btn-file {
	width: 96px;
	text-align: center;
}

.tx-dialog-discussion .controls-row.files.images .thumbnail {
	width: 86px;
	height: 86px;
}

.tx-dialog-discussion .media-object {
	width: 120px;
	max-width: 120px;
}

.tx-dialog-discussion .new-post {
	color: #d12438;
}

.tx-dialog-discussion h4 .new-post {
	margin-left: 3px;
}

.tx-dialog-discussion .subscribe-button {
	display: inline-block;
}